body{
    margin: 0;
}

header{
    background-color: rgb(0, 168, 252);
    background-image: url("../img/pattern.png");
    height: 175px;
}

.svg{
    width: 250px;
    margin-top: 100px;
    margin-left: 10px;
}

.title{
    margin-bottom: 0;
}

.conteiner{
    max-width: 800px;
    margin: auto;
}

.address{
    font-style: normal;
    color: gray;
}

.booleaner{
    color: rgb(0, 168, 252);
}

.small-text{
    font-size:small;
}

.tim1{
    width: 52%;
    height: 305px
}

.tim2{
    width: 47%;
    height: 305px;
}

.imgtop{
    margin-top: 20px;
}

.yellow{
    background-color: yellow;
}

.list{
    margin-left: -25px;
}

.tab{
    width: 200px;
    text-align: left;
}

.tab2{
    width: 500px;
    text-align: left;
}

.colortab1{
    background-color: rgb(0, 168, 252);
}

.colortab2{
    background-color: lightblue;
}

h4{
    color: gray;
}

.item{
    width: 312;
    position: relative;
    margin-bottom: 10;
}

.item > .lorem{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 25px;
    color: white;
}

.style{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-top: 50px;
}